* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: #9b9a9a;
}
#nav.fixed {
  position: fixed;
  transition: 0.5s;
}
#nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .logo .logoPic {
  height: 48px;
}
#nav .logo .logoPic img {
  width: 100%;
  height: 100%;
}
#nav .logo h1 {
  font-size: 36px;
}
#nav .navbar {
  display: flex;
  align-items: center;
}
#nav .navbar a {
  padding: 12px 20px;
  text-decoration: none;
  color: #000;
}
#nav .navbar a:last-child {
  margin-right: -20px;
}

#banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("https://fakeimg.pl/1903x961/?text=World&font=lobster");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}
#banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  -webkit-clip-path: polygon(0% 100%, 78% 0%, 100% 100%);
          clip-path: polygon(0% 100%, 78% 0%, 100% 100%);
}
#banner #album {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#banner #album .container {
  position: relative;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#banner #album .container .imgBox {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
  transform: rotate(calc(45deg * var(--i)));
  transform-origin: 122px;
  z-index: 10;
}
#banner #album .container .imgBox.active {
  box-shadow: 0 0 0 4px #222;
}
#banner #album .container .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transform: rotate(calc(-45deg * var(--i)));
  filter: grayscale(1);
}
#banner #album .container .imgBox.active img {
  filter: grayscale(0);
}

#about {
  padding: 100px 20%;
  position: relative;
}
#about .content {
  margin-left: auto;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  position: relative;
  z-index: 2;
  line-height: 1.5;
}
#about .content h2 {
  transform: translateY(-50px);
}
#about .content p {
  margin: 0 20px;
}

#sunset-banner {
  width: 100%;
  height: 640px;
  background-image: url("https://fakeimg.pl/1903x961/?text=World&font=lobster");
  background-attachment: fixed;
  background-position: center;
}

#main-card {
  padding: 100px 5%;
  background-color: rgb(248, 242, 234);
  overflow: hidden;
}
#main-card .card {
  width: 100%;
  height: 360px;
  display: flex;
  /* align-items: center; */
  position: relative;
  margin-bottom: 120px;
}
#main-card .card.reverse {
  display: flex;
  flex-direction: row-reverse;
}
#main-card .card::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 200px;
  left: 50%;
  transform: translateX(-100%) translateY(100px);
  top: calc(100% - 100px);
  background-color: rgb(92, 190, 158);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1s;
}
#main-card .card.topFade::before {
  transform: translateX(-100%) translateY(0);
  opacity: 1;
}
#main-card .card:nth-child(2)::before {
  /* !! */
  transform: translateX(0%);
}
#main-card .card:first-child .pic, #main-card .card:last-child .pic {
  transform: translateX(-150%);
  transition: transform 0.5s;
}
#main-card .card:nth-child(2) .pic {
  transform: translateX(150%);
  transition: transform 0.5s;
}
#main-card .card .pic {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#main-card .card .pic img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  /* position: relative; */
  transition: transform 0.3s;
}
#main-card .card .pic:hover img {
  transform: scale(1.1);
}
#main-card .card .pic.fade {
  transform: translateX(0);
}
#main-card .card .card-body {
  width: 50%;
  padding: 10px 20px;
  margin: 0 0 0 auto;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}
#main-card .card .card-body.opc {
  opacity: 1;
}
#main-card .card .card-body h2 {
  margin-bottom: 12px;
}
#main-card .card .card-body p {
  line-height: 1.5;
  border-top: 1px solid #000;
}
#main-card .card .card-body .btn {
  width: 100%;
  text-align: end;
  margin-top: 8px;
}
#main-card .card .card-body .btn a {
  padding: 12px 20px;
  background-color: #ccc;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}
#main-card .card:nth-child(2) .card-body {
  margin: 0 auto 0 0;
}
#main-card .card:nth-child(3) {
  padding-left: 20px;
}

@media (max-width: 768px) {
  #main-card {
    padding: 100px 20px;
  }
  #main-card .card {
    flex-direction: column;
  }
  #main-card .card:nth-child(3) {
    padding-left: 0px;
  }
  #main-card .card .pic {
    width: 100%;
  }
  #main-card .card .card-body {
    width: 100%;
    padding: 10px;
    background: transparent;
    left: 0;
    margin: 0;
  }
  #main-card .card:nth-child(2) .card-body {
    left: 0%;
  }
}
#around {
  padding: 100px 5%;
}
#around .swiper {
  width: 100%;
  padding-bottom: 50px;
}
#around .swiper .header {
  display: flex;
  margin-bottom: 16px;
  padding: 0 10px;
}
#around .swiper .header h2 {
  align-self: center;
  position: relative;
}
#around .swiper .header h2::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  left: 0;
  bottom: -10px;
  background-color: #000;
}
#around .swiper .header .btn-group {
  display: flex;
  margin: 0 0 0 auto;
  gap: 10px;
}
#around .swiper .header .btn-group .swiper-button-prev, #around .swiper .header .btn-group .swiper-button-next {
  background-image: url(./leftArrow.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: static;
  margin: 0;
  transform: translateX(0px);
  transition: transform 0.5s;
}
#around .swiper .header .btn-group .swiper-button-prev::after, #around .swiper .header .btn-group .swiper-button-next::after {
  display: none;
}
#around .swiper .header .btn-group .swiper-button-prev:hover {
  transform: translateX(-5px);
}
#around .swiper .header .btn-group .swiper-button-next {
  background-image: url(./rightArrow.svg);
}
#around .swiper .header .btn-group .swiper-button-next:hover {
  transform: translateX(5px);
}
#around .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 320px;
  -webkit-box-reflect: below 0.5px linear-gradient(transparent, transparent, #006);
  position: relative;
}
#around .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
#around .swiper-slide .content {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 10%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(500px);
  transition: 0.5s;
}
#around .swiper-slide.swiper-slide-active .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#footer {
  padding: 28px 5%;
  background-color: #9b9a9a;
}
#footer .news {
  display: flex;
}
#footer .news .title {
  display: flex;
  font-size: 32px;
  margin-bottom: 8px;
}
#footer .news .title p {
  padding: 0 8px;
}
#footer .news .title p:first-child {
  padding-left: 0;
  border-right: 2px solid #000;
}
#footer .news .social {
  display: flex;
  font-size: 32px;
  gap: 12px;
}
#footer .news .contactUs {
  margin: 0 auto;
  margin-top: 8px;
}
#footer .news .contactUs h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
#footer .news .contactUs .content {
  display: flex;
  gap: 60px;
}
#footer .news .contactUs .content p {
  margin-bottom: 4px;
}
#footer .copyright p {
  text-align: end;
}

@media (max-width: 992px) {
  #footer .news .contactUs .content {
    display: block;
  }
}/*# sourceMappingURL=all.css.map */